.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fef1df;
}

.logo {
  max-width: 200px; /* Zwiększ rozmiar loga */
  margin-bottom: 2rem;
  transition: transform 0.5s ease-in-out;
}

form {
  max-width: 350px;
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
}

.form-label {
  margin-bottom: .5rem;
  font-weight: 500;
}

.button-custom {
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
  border-radius: 5px;
}

.button-custom:hover {
  background-color: #203c53; 
  border-color: #203c53;
}

.alert-danger {
  margin-top: 1rem;
}
